@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pokemon TCG Collection</h1>
    <p>This is a database app to track the collection of Pokemon Cards</p>
</div>
